body {
    background-color: #7FFFD4;
    background-color: #9A616D;
    background-color: blanchedalmond;
    background-color: WhiteSmoke;
    background-color: bisque;
}

#corpo {
    margin-bottom: 10px;
}

#totalusuarios {
    background-color: #4cb4c7;
}

#totalgrupos {
    background-color: #4cb4c5;
}

#totalpermissoes {
    background-color: #7abecc;
}

#saldoitau {
    background-color: #4cb4c7;
}

#saldobradesco {
    background-color: #4cb4c5;
}

#saldobb {
    background-color: #7abecc;
}

#titulodestaque {
    text-align: center;
}