{% extends 'cadastro/base/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>WatchList</title>
{% endblock %}

{% block menu %}
{% include 'cadastro/base/menu.html' %}
{% endblock %}

{% block highlights %}
{% endblock %}

{% block content %}
<div class="container">
    <h3>WatchList - {{ request.user }}</h3>

    <div class="menuLista">
        <a href="{% url 'cadastro:InserirWatchList' %}" class="btn btn-primary btn-sm">Inserir Stocks em WatchList</a>
        <a href="{% url 'cadastro:PainelInicial' %}" class="btn btn-secondary btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door"
                viewBox="0 0 16 16">
                <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
            </svg>
            Página Inicial</a>
    </div>


    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Exchange</th>
                <th>Nome do Asset</th>
                <th>Detalhes</th>
            </tr>

            {% for item in watchlist %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.stock.exchange }}</td>
                <td>{{ item.stock }}</td>
                <td>
                    <a href="{% url 'cadastro:twChart' item.stock.exchange item.stock.symbol %}"" class=" btn btn-danger
                        btn-sm" data-bs-toggle="modal" data-bs-target="#twChart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-graph-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                        </svg>
                        Graph</a>
                    <a href="{% url 'cadastro:ListPrices' item.stock.id %}"" class=" btn btn-danger btn-sm">Preços</a>
                </td>
                
            </tr>

            {% include 'cadastro/modal/tw_chart_widget.html' %}

            {% empty %}
            <tr>
                <td colspan="3">Essa watchlist não possui nenhuma ação</td>
            </tr>

            {% endfor %}

        </table>
    </div>


</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}