{% extends 'cadastro/base/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cadastro_tags %}

{% block title %}
<title>{{titulo|default:'Formulário'}}</title>
{% endblock %}

{% block menu %}
{% include 'cadastro/base/menu.html' %}
{% endblock %}

{% block highlights %}
{% endblock %}

{% block content %}

<div class="main-container d-flex">

{% block sideBarLeft %}
{% include 'cadastro/base/sideBarLeft.html ' %}
{% endblock %}

    <div id="corpoDashboard">
        <h3 class="row justify-content-center m-3">{{titulo|default:'Formulário'}}</h3>
        <hr>
        {% if chart %}
            <div class="container">
                <div>
                    {{chart|safe}}      
                </div>
                <div class="mt-2">
                    <form action="{% url 'cadastro:ShowGraph' stock_id tf %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-row">
                            <div class="flex m-3">
                                <label for="">Alterar TimeFrame:</label>
                                <div class="form-floating mb-2">
                                    <div class="btn-group">
                                        <input type="radio" class="btn-check" name="timeframe" id="option1" autocomplete="off" {% if tf == 'Month' %} checked {% endif %} value="Month"/>
                                        <label class="btn btn-outline-primary" for="option1">Month</label>
                                        <input type="radio" class="btn-check" name="timeframe" id="option2" autocomplete="off" {% if tf == 'Week' %} checked {% endif %} value="Week"/>
                                        <label class="btn btn-outline-primary" for="option2">Week</label>
                                        <input type="radio" class="btn-check" name="timeframe" id="option3" autocomplete="off" {% if tf == 'Day' %} checked {% endif %} value="Day"/>
                                        <label class="btn btn-outline-primary" for="option3">Day</label>
                                        <input type="radio" class="btn-check" name="timeframe" id="option4" autocomplete="off" {% if tf == 'Hour' %} checked {% endif %} value="Hour"/>
                                        <label class="btn btn-outline-primary" for="option4">Hour</label>
                                        <input type="radio" class="btn-check" name="timeframe" id="option5" autocomplete="off" {% if tf == '5Minute' %} checked {% endif %} value="5Minute"/>
                                        <label class="btn btn-outline-primary" for="option5">Minute</label>
                                      </div>
                                    
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" >Update Graph</button>
                        </div>
                    </form>
                </div>
                
            </div>
        {% endif %}

        {% if dic_charts %}
        <div class="col-lg-12">
            <div class="card-group mb-1">
                {% for key, value in dic_charts.items %}
                <div class="card mx-1">
                    {{value|safe}}
                </div>
                {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
            <div class="card-group mb-2">
            {% endif %}
            {% endfor %}
            
            {% if dic_charts|length|remainder == 3 %}
                <div class="card mx-1"></div>
            {% elif dic_charts|length|remainder == 2 %}
                <div class="card mx-1"></div>
                <div class="card mx-1"></div>
            {% elif dic_charts|length|remainder == 1 %}
                <div class="card mx-1"></div>
                <div class="card mx-1"></div>
                <div class="card mx-1"></div>
            {% endif %}

            </div>
        </div>

        {% endif %}


    </div>

    {% block sideBarRight %}
    
    {% endblock %}

</div>

{% include 'cadastro/modal/escolheAtivos.html' %}
{% include 'cadastro/modal/escolheAtivosExclusao.html' %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
    $(".sidebar ul li").on('click' , function(){
        $(".sidebar ul li.active").removeClass('active');
        $(this).addClass('active')});
</script>

{% if show_modal_stocks %}
<script>
    $(document).ready(function(){
    $("#escolheAtivos").modal('show');
    });    
</script>
{% endif %}

{% if show_modal_watch %}
<script>
    $(document).ready(function(){
    $("#escolheAtivosExclusao").modal('show');
    });    
</script>
{% endif %}

{% endblock %}
