{% extends 'cadastro/base/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cadastro_tags %}

{% block title %}
<title>{{titulo|default:'Formulário'}}</title>
{% endblock %}

{% block menu %}
{% include 'cadastro/base/menu.html' %}
{% endblock %}

{% block highlights %}
{% endblock %}

{% block content %}

<div class="main-container d-flex">

{% block sideBarLeft %}
{% include 'cadastro/base/sideBarLeft.html ' %}
{% endblock %}

    <div id="corpoDashboard">
        <h3>{{titulo|default:'Formulário'}}</h3>
        <hr>
        {% if chart %}
        {{chart|safe}}      
        {% endif %}

        {% if dic_charts %}
        <div class="col-lg-9">
            <div class="card-group mb-3">
                {% for key, value in dic_charts.items %}
                <div class="card mx-1">
                {{value|safe}}      
                </div>
                {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
            <div class="card-group mb-3">
            {% endif %}
            {% endfor %}
            
            {% if dic_charts|length|remainder == 3 %}
                <div class="card mx-1"></div>
            {% elif dic_charts|length|remainder == 2 %}
                <div class="card mx-1"></div>
                <div class="card mx-1"></div>
            {% elif dic_charts|length|remainder == 1 %}
                <div class="card mx-1"></div>
                <div class="card mx-1"></div>
                <div class="card mx-1"></div>
            {% endif %}

            </div>
        </div>

        {% endif %}


    </div>

    {% block sideBarRight %}
    
    {% endblock %}

</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
    $(".sidebar ul li").on('click' , function(){
        $(".sidebar ul li.active").removeClass('active');
        $(this).addClass('active');
    })
</script>
{% endblock %}
