<footer class="mt-auto">
    <div class="container-fluid bg-secondary text-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5>Título 1</h5>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-white">Link 1</a></li>
                        <li><a href="" class="text-white">Link 2</a></li>
                        <li><a href="" class="text-white">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h5>Título 2</h5>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-white">Link 1</a></li>
                        <li><a href="" class="text-white">Link 2</a></li>
                        <li><a href="" class="text-white">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h5>Título 3</h5>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-white">Link 1</a></li>
                        <li><a href="" class="text-white">Link 2</a></li>
                        <li><a href="" class="text-white">Link 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

