<div class="sidebar bg-dark" id="side_nav">
    <div class="header-box px-2 pt-2 pb-3">
        <h3><span class="bg-white text-dark rounded shadow px-2 me-2">WatchList</span></h3>
    </div>

    <ul class="list-unstyled px-2">
        {% for item in watchlist %}
        <li class=""><a href="{% url 'cadastro:ShowGraph' item.stock.pk 'Day' %}" class="text-decoration-none px-1 py-1 d-block">{{item.stock.symbol}}</a></li>
        {% endfor %}
    </ul>
    <hr class="h-color mx-3">
    
    <div class="header-box px-2 pt-2 pb-3">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#escolheAtivos">
            Incluir
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#escolheAtivosExclusao">
            Excluir
        </button>
    </div>    
</div>