{% extends 'cadastro/base/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Autenticação</title>
{% endblock %}

{% block menu %}
{% endblock %}

{% block highlights %}
{% endblock %}

{% block content %}
<h2>{{titulo|default:''}}</h2>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'img/stockbroker-shirt-is-working-monitoring-room-with-display-screens-stock-exchange-trading-forex-finance-graphic-concept-businessmen-trading-stocks-online_9277159.jpg' %}"
                alt="login form" height="300" width="450" style="border-radius: 1rem 0 0 1rem;" />
              <a href="https://www.freepik.com/free-photo/stockbroker-shirt-is-working-monitoring-room-with-display-screens-stock-exchange-trading-forex-finance-graphic-concept-businessmen-trading-stocks-online_9277159.htm#query=graphic%20stock&position=9&from_view=keyword" class="small text-muted">Image by standret</a> on Freepik
              <ul>
                <li>Watch Lists personalizadas</li>
                <li>Gráficos em vários Timeframes</li>
                <li>Importação de Preços e Indicadores</li>
                <li>Identificação de Padrões</li>
                <li>Diário de Trades</li>
              </ul>              
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form  action="" method="POST">
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">{{ botao|default:'Entrar' }}</button>
                  </div>
                  <a class="small text-muted" href="{% url 'cadastro:password_reset' %}">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'cadastro:registrar' %}"
                      style="color: #393f81;">Register here</a></p>
                  
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}